.fix-picture {
    border-radius: 23px;
    max-width: 296px;
    max-height: 296px;
    margin-right: 16px;
}



.video-youtube {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-23px, -23px);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    color: #ec6090;
}

.name-popular {
    color: #fff;
    font-style: normal;
    text-decoration: underline;
    font-size: 34px;
}

.name-rightnow {
    color: #ec6090;
    font-style: normal;
    font-size: 34px;
    margin-left: 15px;
}