


.button-edit {
    /* position: absolute;
    top: 100%;
    left: 50%; */
    font-size: 14px;
    color: #fff;
    background-color: #e75e8d;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: 400;
}

/* .position-absolute:hover {
    background-color: #fff;
    color: #e75e8d
} */

.position-map {
    position: 'relative';
}

.name-popular {
    color: #fff;
    font-style: normal;
    text-decoration: underline;
    font-size: 34px;
}
.name-rightnow {
    color: #ec6090;
    font-style: normal;
    font-size: 34px;
    margin-left: 15px;
}

.title-name {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}

.content-name {
    color: #666;
    font-size: 14px;
}
