body {
  margin: 24px;
  padding-top: 60px;
  background: #1f2122;
  font-family: 'Poppins', sans-serif;
}

.MuiButton-textPrimary:hover {
  background-color: white !important;
  color: #e75e8d;
}
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
